.detalle-titulo {
    text-align: center;
    margin-top: 3vh;
    font-size: 3rem;
}

.detalle-contenido {
    display: flex;
}

.detalle-imagen {
    width: 30%;
    margin-left: 30vh;
}

.detalle-textos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10rem;
}

.detalle-descripcion {
    font-size: 1.3rem;
}

.detalle-precio {
    font-size: 1.8rem;
    color: #1fb11a;
}

.detalle-stock span {
    font-size: 1.3rem;
}